
<div class="header">
    <img class="header-santa" src="assets\images\santa.png" alt="">
    <img class="header-text" src="assets\images\Find Your Santa.png" alt="">
    <span></span>
</div>
<div class="main">
    <div class="santees">
        <div #namesDiv id="names">
            <span class="santee" *ngFor="let name of names; let i = index" [id]=i
                [ngClass]='(chosenIndex == i)? "chosen": ""'>{{name.name}}</span>
        </div>
        <button class="btn" id="chooseSanteeButton" (click)='chooseRandom()'>Choose Secret Santee</button>
    </div>

    <div>
        <div class="timer">
            <span>{{timerHours | number:'2.0'}}:{{timerMinutes | number:'2.0'}}:{{timerSeconds | number:'2.0'}}</span>
        </div>
        <div class="game" (click)="reveal()">
            <span *ngIf="santaView == 'santa'"> {{names[chosenIndex]?.santa}} </span>
            <span *ngIf="santaView == 'game'" > {{gameText}} </span>
            <span *ngIf="santaView == 'spoiler'"> SPOILER </span>
        </div>
    </div>
 
</div>
<div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
    <div class="snowflake">
    ❅
    </div>
    <div class="snowflake">
    ❆
    </div>
    <div class="snowflake">
    ❄
    </div>
  </div>